In [1]:
#imitialization of the pyspark
import findspark
findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
#creating the psark session
spark =SparkSession.builder.appName("datanalysis").getOrCreate()

24/07/18 18:12:40 WARN Utils: Your hostname, hp resolves to a loopback address: 127.0.1.1; using 192.168.100.4 instead (on interface wlp2s0)
24/07/18 18:12:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/18 18:12:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/18 18:12:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
csvfile ="/home/christine/Downloads/scooter.csv"

In [5]:
#creating a dataframe
df=spark.read\
   .format("csv")\
   .option("inferschema" ,True)\
   .option("header",True)\
   .load(csvfile)

df.show()

+-----+-------+---------+----------+---------------+---------------+--------+--------------------+--------------------+--------+--------------+
|month|trip_id|region_id|vehicle_id|     started_at|       ended_at|DURATION| start_location_name|   end_location_name| user_id|trip_ledger_id|
+-----+-------+---------+----------+---------------+---------------+--------+--------------------+--------------------+--------+--------------+
|  May|1613335|      202|   9424537|5/21/2019 18:33|5/21/2019 18:40| 0:07:03|1901 Roma Ave NE,...|1899 Roma Ave NE,...| 8417864|       1488546|
|  May|1613639|      202|   9424537|5/21/2019 19:07|5/21/2019 19:12| 0:04:57|1 Domenici Center...|1111 Stanford Dr ...| 8417864|       1488838|
|  May|1613708|      202|   9424537|5/21/2019 19:13|5/21/2019 19:15| 0:01:14|1 Domenici Center...|1 Domenici Center...| 8417864|       1488851|
|  May|1613867|      202|   9424537|5/21/2019 19:29|5/21/2019 19:36| 0:06:58|Rotunda at Scienc...|725 University Bl...| 8417864|       1489064|
|  May|1636714|      202|   8926493|5/24/2019 13:38|5/24/2019 13:41| 0:03:06|401 2nd St NW, Al...|401 2nd St NW, Al...|35436274|       1511212|
|  May|1636780|      202|   3902020|5/24/2019 13:52|5/24/2019 14:13| 0:21:27|520 Central Ave S...|3217 Pershing Ave...|34352757|       1511371|
|  May|1636856|      202|   5192526|5/24/2019 14:04|5/24/2019 14:34| 0:30:43|330 Tijeras Ave N...|809 Copper Ave NW...|35466666|       1511483|
|  May|1636912|      202|   3902020|5/24/2019 14:14|5/24/2019 14:15| 0:01:05|3217 Pershing Ave...|802 Wellesley Dr ...|34352757|       1511390|
|  May|1637035|      202|   5192526|5/24/2019 14:37|5/24/2019 14:43| 0:05:33|809 Copper Ave NW...|809 Copper Ave NW...|35466666|       1511516|
|  May|1637036|      202|   9885684|5/24/2019 14:38|5/24/2019 15:09| 0:31:54|2901 Central Ave ...|2000 Zearing Ave ...|34352757|       1511666|
|  May|1637075|      202|   5192526|5/24/2019 14:45|5/24/2019 14:48| 0:03:34|809 Copper Ave NW...|809 Copper Ave NW...|35466666|       1511544|
|  May|1637120|      202|   5192526|5/24/2019 14:52|5/24/2019 14:58| 0:05:40|809 Copper Ave NW...|809 Copper Ave NW...|35466666|       1511610|
|  May|1637212|      202|   3203954|5/24/2019 15:05|5/24/2019 15:21| 0:16:37|423 Central Ave N...|512 Central Ave S...|35490582|       1511765|
|  May|1637299|      202|   3027855|5/24/2019 15:16|5/24/2019 15:36| 0:20:12|1898 Mountain Rd ...|824 Stover Ave SW...|34352757|       1511876|
|  May|1637378|      202|   4335950|5/24/2019 15:27|5/24/2019 15:31| 0:03:51|400 Marquette Ave...|5th @ Marquette, ...|35493806|       1511834|
|  May|1637409|      202|   4011047|5/24/2019 15:31|5/24/2019 15:33| 0:02:03|101 State Hwy 313...|400 Gold Ave SW, ...|31624602|       1511854|
|  May|1637414|      202|   7044335|5/24/2019 15:32|5/24/2019 15:33| 0:01:10|400 Marquette Ave...|5th @ Marquette, ...|35493806|       1511847|
|  May|1637455|      202|   7939544|5/24/2019 15:36|5/24/2019 15:55| 0:19:03|401 3rd St NW, Al...|220 Gold Ave SW, ...|35495918|       1512023|
|  May|1637468|      202|   8926493|5/24/2019 15:38|5/24/2019 15:52| 0:14:20|401 2nd St NW, Al...|224 Gold Ave SW, ...|35492487|       1511996|
|  May|1637528|      202|   6893735|5/24/2019 15:45|5/24/2019 15:49| 0:04:03|301 Central Ave N...|411 Central Ave N...|35498655|       1511970|
+-----+-------+---------+----------+---------------+---------------+--------+--------------------+--------------------+--------+--------------+
only showing top 20 rows

In [6]:
#creatin a temp view

df.createOrReplaceTempView("u")

In [7]:
df.printSchema()

root
 |-- month: string (nullable = true)
 |-- trip_id: integer (nullable = true)
 |-- region_id: integer (nullable = true)
 |-- vehicle_id: integer (nullable = true)
 |-- started_at: string (nullable = true)
 |-- ended_at: string (nullable = true)
 |-- DURATION: string (nullable = true)
 |-- start_location_name: string (nullable = true)
 |-- end_location_name: string (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- trip_ledger_id: integer (nullable = true)

In [8]:
df.columns

['month',
 'trip_id',
 'region_id',
 'vehicle_id',
 'started_at',
 'ended_at',
 'DURATION',
 'start_location_name',
 'end_location_name',
 'user_id',
 'trip_ledger_id']

In [9]:
data = spark.sql ("select * from u")

In [11]:
# Group by 'user_id' and 'region_id' and perform multiple aggregations
agg_df = df.groupBy("user_id", "region_id").agg(
    sum("trip_ledger_id").alias("total_trip_ledger_id"),
    sum("DURATION").alias("total_duration"),
    avg("DURATION").alias("avg_duration"),
    count("trip_id").alias("trip_count")
)

# Show the result
agg_df.show()

+--------+---------+--------------------+--------------+------------+----------+
| user_id|region_id|total_trip_ledger_id|total_duration|avg_duration|trip_count|
+--------+---------+--------------------+--------------+------------+----------+
|35609093|      202|             3417024|          null|        null|         2|
|35731526|      202|             3052473|          null|        null|         2|
|36149678|      202|             5433026|          null|        null|         3|
|35617642|      202|             1554369|          null|        null|         1|
|36361723|      202|             9864688|          null|        null|         6|
|36411067|      202|             3127123|          null|        null|         2|
|35635280|      202|            11936851|          null|        null|         7|
|37734630|      202|            18163212|          null|        null|        11|
|37775635|      202|            12450513|          null|        null|         7|
|37800912|      202|             1628733|          null|        null|         1|
|35627007|      202|             1634913|          null|        null|         1|
|38250666|      202|             1649698|          null|        null|         1|
|38256155|      202|             5040633|          null|        null|         3|
|38543342|      202|            25079064|          null|        null|        13|
|36979529|      202|             6971111|          null|        null|         4|
|38249719|      202|            12209502|          null|        null|         7|
|39089874|      202|             1688539|          null|        null|         1|
|39093837|      202|             3377527|          null|        null|         2|
|39278436|      202|             3577241|          null|        null|         2|
|37450853|      202|             9264769|          null|        null|         5|
+--------+---------+--------------------+--------------+------------+----------+
only showing top 20 rows

In [14]:
# Group by 'user_id' and 'region_id' and perform multiple aggregations
agg_df = df.groupBy("user_id").agg(
    sum("region_id").alias("totalregions"),
   
)

# Show the result
agg_df.show()

+--------+------------+
| user_id|totalregions|
+--------+------------+
|35530940|        2626|
|35530825|         404|
|35941253|         808|
|36353218|         202|
|36365637|         808|
|36431716|         808|
|35618796|        1010|
|36674669|         404|
|36698080|         202|
|36703930|         606|
|36437051|        1414|
|37462382|         202|
|29946205|         404|
|37705747|         606|
|37776273|         202|
|37819021|        1818|
|38001650|        1414|
|38046939|        1616|
|38304165|        1818|
|38555775|         202|
+--------+------------+
only showing top 20 rows

In [17]:
# # Order by 'trip_count' in descending order and get the top user
# top_user_df = agg_df.orderBy("trip_id", ascending=False).limit(1)

# # Show the result
# top_user_df.show()